body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    cursor: pointer;
}

.page {
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}
